DISCORD_TOKEN=BLAHBLAHBALHBLAHALHBLAHBALHAHLABALBLABHLABHLAHBLAALHBLAHBBALBALBLALALB
COMMAND_PREFIX=!

BANNERLORD_ROLE_ID=0
BANNERLORD_CHANNEL_ID=0
MOD_CHAT_ID=0
MOD_ROLE_ID=0
HELPER_CHAT_ID=0
HELPER_ROLE_ID=0
SOCIAL_CREDIT_ROLE_ID=0
SERVER_ID=0
