asyncpraw
discord.py
flake8
git+https://github.com/k3KAW8Pnf7mkmdSMPHz27/HateSonar
mock
mypy
peewee
Pillow
pylint
requests
ruff
tabulate
typed-ast
types-mock
types-requests
types-Pillow
types-tabulate
urlextract
validators
