aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
aiosqlite==0.17.0
astroid==4.0.1
asyncpraw==7.8.1
asyncprawcore==2.4.0
attrs==25.4.0
audioop-lts==0.2.2
better-profanity==0.7.0
certifi==2025.10.5
charset-normalizer==3.4.4
dill==0.4.0
discord-py==2.6.4
filelock==3.20.0
flake8==7.3.0
frozenlist==1.8.0
idna==3.11
isort==7.0.0
mccabe==0.7.0
mock==5.2.0
multidict==6.7.0
mypy==1.18.2
mypy-extensions==1.1.0
pathspec==0.12.1
peewee==3.18.2
pillow==12.0.0
pip==25.0.1
platformdirs==4.5.0
propcache==0.4.1
pycodestyle==2.14.0
pyflakes==3.4.0
pylint==4.0.2
requests==2.32.5
ruff==0.14.2
tabulate==0.9.0
tomlkit==0.13.3
types-mock==5.2.0.20250924
types-pillow==10.2.0.20240822
types-requests==2.32.4.20250913
types-tabulate==0.9.0.20241207
typing-extensions==4.15.0
update-checker==0.18.0
uritools==5.0.0
urlextract==1.9.0
urllib3==2.5.0
validators==0.35.0
yarl==1.22.0
