aiohttp==3.7.4.post0
ansi2html==1.7.0
astroid==2.11.6
async-timeout==3.0.1
attrs==21.4.0
beautifulsoup4==4.11.1
Brotli==1.1.0
bs4==0.0.1
certifi==2022.6.15
cffi==1.16.0
chardet==4.0.0
charset-normalizer==2.1.0
decorator==5.1.1
dill==0.3.5.1
flake8==4.0.1
hatesonar==0.0.7
idna==3.3
isort==5.10.1
Jinja2==3.1.2
joblib==1.4.2
lazy-object-proxy==1.7.1
MarkupSafe==2.1.1
mccabe==0.6.1
multidict==6.0.2
mutagen==1.47.0
mypy==0.961
mypy-extensions==0.4.3
numpy==2.0.2
pandas==2.2.3
peewee==3.15.0
platformdirs==2.5.2
py-cord==1.7.3
py-markdown-table==0.4.0
pycodestyle==2.8.0
pycparser==2.21
pycryptodomex==3.21.0
pyflakes==2.4.0
pylint==2.14.4
python-dateutil==2.9.0.post0
python-dotenv==0.20.0
pytz==2024.2
requests==2.32.3
scikit-learn==1.6.0
scipy==1.13.1
six==1.17.0
soupsieve==2.3.2.post1
tabulate==0.8.10
threadpoolctl==3.5.0
tomli==2.0.1
tomlkit==0.11.0
types-requests==2.28.11.5
types-urllib3==1.26.25.4
typing_extensions==4.2.0
tzdata==2024.2
urllib3==2.2.3
uv==0.5.10
validators==0.20.0
websockets==13.1
wrapt==1.14.1
xattr==1.0.0
yarl==1.7.2
yt-dlp==2024.10.22
