aiohttp==3.9.0
aiosignal==1.3.1
astroid==2.15.6
async-timeout==4.0.3
asyncpraw==7.7.1
asyncprawcore==2.4.0
attrs==23.1.0
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.7.22
charset-normalizer==3.2.0
dill==0.3.7
discord.py==2.3.2
feedparser==6.0.10
flake8==6.1.0
frozenlist==1.4.0
idna==3.4
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
multidict==6.0.4
mypy==1.5.1
mypy-extensions==1.0.0
peewee==3.16.3
Pillow==10.0.1
platformdirs==3.10.0
pycodestyle==2.11.0
pyflakes==3.1.0
pylint==2.17.5
python-dotenv==1.0.0
requests==2.31.0
retrying==1.3.4
sgmllib3k==1.0.0
six==1.16.0
soupsieve==2.5
tomlkit==0.12.1
types-beautifulsoup4==4.12.0.6
types-html5lib==1.1.11.15
types-Pillow==10.0.0.3
types-requests==2.31.0.2
types-urllib3==1.26.25.14
typing_extensions==4.7.1
urllib3==2.0.7
validators==0.22.0
wrapt==1.15.0
yarl==1.9.2
