aiohttp==3.7.4.post0
astroid==2.11.6
async-timeout==3.0.1
attrs==21.4.0
chardet==4.0.0
decorator==5.1.1
dill==0.3.5.1
discord.py==1.7.3
flake8==4.0.1
idna==3.3
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.6.1
multidict==6.0.2
mypy==0.961
mypy-extensions==0.4.3
peewee==3.15.0
platformdirs==2.5.2
pycodestyle==2.8.0
pyflakes==2.4.0
pylint==2.14.4
python-dotenv==0.20.0
tomli==2.0.1
tomlkit==0.11.0
typing_extensions==4.2.0
validators==0.20.0
wrapt==1.14.1
yarl==1.7.2
